@model IEnumerable<AspnetWebApi_curd.Models.employee>

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery.js"></script>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.designation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salary)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.designation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salary)
        </td>
        <td>
            <button class="editBtn" style="background-color:darkslateblue; font-weight:700;color:white; width:59px; border-radius:5px;border: 3px solid forestgreen; "> @Html.ActionLink("Edit", "Edit", new { id = item.id })</button> 
            <button class="editBtn" style="background-color: ghostwhite; font-weight: 700; color: white; width: 59px; border-radius: 5px; border:3px solid red;" >@Html.ActionLink("Details", "Details", new { id=item.id })</button>
            <button class="editBtn" style="background-color: red; font-weight: 700; color: white; width: 59px; border-radius: 5px; border: 3px solid blue;">@Html.ActionLink("Delete", "Delete", new { id = item.id })</button>
</td>
    </tr>
}

</table>
